body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#603939;
  }
  
  .container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color:#c69f9f;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
  }
  
  header {
    text-align: center;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  h1 {
    margin-top: 10px;
    font-size: 2em;
  }
  
  section {
    margin-top: 30px;
  }
  
  ul {
    list-style-type: square;
    padding-left: 20px;
  }
  
  a {
    color: #0073e6;
    text-decoration: none;
  }