/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 10px;
    background-color: #816666;
  }
  
  /* Header */
  .header {
    text-align: center;
    background-color: #03e05f;
    color: rgb(26, 116, 233);
    padding: 20px;
  }
  
  /* Navbar */
  .navbar ul {
    display: flex;
    justify-content: center;
    background-color: #e08651;
    list-style: none;
    padding: 10px;
  }
  
  .navbar ul li {
    margin: 0 15px;
  }
  
  .navbar ul li a {
    color: rgb(236, 238, 108);
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Main Content */
  .main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Intro section */
  .intro {
    flex: 1 1 100%;
    padding: 10px;
    background: #e766c0;
    margin-bottom: 20px;
  }
  
  /* Cards Section */
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1 1 100%;
    margin-bottom: 20px;
    justify-content: space-between;
    padding: 10px;
    background: #a08a8a;
  }
  
  .card {
    background: rgb(171, 102, 189);
    padding: 15px;
    border: 1px solid #9c5c89;
    flex: 1 1 300px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(78, 8, 8, 0.1);
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  /* Footer */
  .footer {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #333;
    color: rgb(34, 214, 43);
    margin-top: 30px;
    position: relative;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .sidebar {
      float: none;
      width: 100%;
    }
  
    .cards {
      flex-direction: column;
        align-items: center;
        gap: 10px;


    }
  }
  